
@media (max-width: 1199px) {
  .about_img img {
    align-items: center;
    border-radius: 50%;
    height: 350px;
    width: 350px;
} 
  p {
    font-size: 15px
  }
  .blog_post .post_content .blog-meta span {
    font-size: 14px;
  }
  .about_content {
    padding-right: 0px;
  }
  .promo_section .promo_box_one {
    padding: 0px 15px;
  }
  .promo_section .promo_skill {
    padding-left: 15px;
    padding-right: 15px;
  }
  .banner_shap,
  .banner_shap_two {
    background-position: 72%;
  }
  .error_text:after {
    background-size: contain;
    bottom: 20px;
  }
}
@media (max-width: 991px) {
  .about_img img {
    align-items: center;
    border-radius: 50%;
    height: 250px;
    width: 250px;
}
  .about_content .theme_btn + .theme_btn {
    margin-left: 6px;
  }
  .contact-area .contact_info {
    padding-left: 0;
  }
  .blog_post {
    margin-bottom: 50px;
  }
  .blog_area .row {
    margin-bottom: -50px;
  }
  .navbar {
    padding: 0px 15px;
  }
  .navbar .cv {
    margin-top: 0px;
    margin-left: auto;
    margin-right: 20px;
  }
  .navbar-toggler span {
    background: #fff;
  }
  .dark_menu .navbar-toggler span {
    background: #040c2c;
  }
  .navbar_fixed .navbar-toggler span,
  .navbar .navbar-nav .nav-item .nav-link:before {
    background: #040c2c;
  }
  .red_color .navbar_fixed .navbar-toggler span {
    background: #ff2a39;
  }
  .navbar .navbar-nav .nav-item {
    margin-left: 0px;
  }
  .navbar-nav {
    background: #fff;
    padding: 20px 20px 15px;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    color: #040c2c;
    display: inline-block;
  }
  .about_area_two .about_item {
    margin-bottom: 30px;
  }
  .about_area_two {
    padding-bottom: 90px;
  }
  .promo_section .promo_box_one {
    padding: 80px 30px 100px;
  }
  .promo_section .promo_video img {
    position: relative;
  }
  .promo_section .promo_skill {
    padding: 90px 30px 80px;
  }
  .team_item {
    margin-bottom: 40px;
  }
  .team_area {
    padding-bottom: 60px;
  }
  .banner_area_two .banner_content h2 {
    font-size: 58px;
  }
  .navbar .navbar-nav .nav-item + .nav-item {
    margin-top: 5px;
  }
  .s_shap {
    display: none;
  }
  .service_img {
    text-align: center;
    padding-top: 40px;
  }
  .get_info {
    margin-bottom: 50px;
  }
  .blog_post .post_content {
    padding-left: 20px;
    padding-right: 20px;
    /* margin-left: 10px;
    margin-right: 10px; */
  }
}

@media (max-width: 767px) {
  .project_count_area .row {
    margin-bottom: -30px;
  }
  .project_count_area .counter_item {
    margin-bottom: 30px;
  }
  .contact-area .contact_info {
    margin-bottom: 50px;
  }
  .about_img img {
    align-items: center;
    border-radius: 50%;
    height: 170px;
    width: 170px;
  }
  .about_content {
    padding: 0px 0px 40px;
  }
  .navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
  }
  .navbar-right {
    display: none;
  }
  .banner_content h5 {
    margin-bottom: 10px;
  }
  .banner_content h4 {
    letter-spacing: 0px;
    margin-bottom: 0px;
  }
  .banner_content {
    padding-top: 45px;
  }
  .navbar-collapse {
    max-height: 275px;
    overflow-y: scroll;
  }
  .banner_area_two .banner_content h2 {
    font-size: 27px;
  }
  .banner_area_two .banner_content h3 {
    font-size: 24px;
  }
  .banner_area_two .banner_content h4 {
    font-size: 20px;
  }
  .navbar .logo_h img {
    max-width: 80%;
  }
  .navbar .cv {
    padding: 3px 27px;
  }
  .navbar_fixed .navbar .navbar-toggler {
    height: 70px;
  }
  .navbar-light .navbar-toggler {
    transition: all 0.3s ease-in-out;
  }
  .footer-area-two .footer-content ul li {
    padding: 0px 2px;
  }
  .footer-content p {
    letter-spacing: 2px;
  }
}
@media (max-width: 667px) {
  .contact-area h4 {
    font-size: 25px;
  }
  .error_text:after {
    display: none;
  }
  .error_text {
    margin-top: 0;
  }
  .error_text h1 {
    line-height: 240px;
    padding-left: 0;
  }
  .error_text img {
    top: -42px;
  }
  .back_btn {
    margin-bottom: 40px;
  }
}
@media (max-width: 576px) {
  .about_img img {
    align-items: center;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
  .portfolio_menu li {
    margin-right: 0px;
    margin-bottom: 8px;
  }
  .portfolio img {
    width: 100%;
  }
  .title_p br {
    display: none;
  }
  .title_h2 {
    font-size: 25px;
    line-height: 40px;
  }
  .banner_area_two .banner_content h2 {
    font-size: 25px;
  }
  .banner_area_two .banner_content h3 {
    font-size: 20px;
  }
  .banner_area_two .banner_content h4 {
    font-size: 17px;
  }
  .about_content h2 {
    font-size: 25px;
  }
  .about_content h6 {
    font-size: 20px;
  }
  .about_content p {
    font-size: 17px;
  }
  .about_content .theme_btn {
    margin-bottom: 8px;
    display: block;
    margin-left: 0;
  }
  .about_content .theme_btn + .theme_btn {
    margin-left: 0;
  }
  .work_area,
  .portfolio_area {
    padding: 80px 0px 60px;
  }
  .project_count_area,
  .blog_area,
  .contact-area {
    padding: 90px 0px;
  }
  .contact-area h4 {
    font-size: 22px;
  }
  .service_img img {
    width: 390px;
  }
  .section_title_two h2 {
    font-size: 30px;
  }
  .blog_post .post_content {
    padding-left: 15px;
    padding-right: 15px;
    /* margin-left: 5px;
    margin-right: 5px; */
  }

  .footer-area-two .footer-content {
    text-align: center;
  }
  .footer-area-two .text-right {
    text-align: center !important;
    padding-top: 15px;
  }
  .error_text p br {
    display: none;
  }
  .error_text h1 {
    font-size: 180px;
    line-height: 180px;
  }
  .error_text:before {
    background-size: contain;
  }
  .error_text img {
    top: 0;
  }
}
@media (max-width: 450px) {
  .navbar.navbar_fixed .cv {
    display: none;
  }
  .service_img img {
    width: 290px;
  }
  .error_text h1 {
    font-size: 140px;
    line-height: 135px;
  }
  .error_text img {
    top: 29px;
  }
}
